:root {
	--background-color: white;
	--light-background-color: #f5f5f5;

	--light-black: #333333;
	--dark-gray: #555555;

	--border-gray: #797979;
	
	--gray: #a5a5a5;
	--light-gray: #aaaaaa;
	--dark-white: #ebebeb;

	--orange: #e0600a;
	--white-orange: #e9916e;
	--light-orange: #f37d4a;
	--transparent-orange: #e0600a32;
	--transparent-light-orange: #ff9e7532;
}